<mat-card class={{cardClass}}>
    <img class={{cardImageStyle}} src={{cardImage}} alt={{imageAltText}}>
    <mat-card-header>
        <mat-card-subtitle>{{headerSubtitle}}</mat-card-subtitle>
        <mat-card-title class="text-2xl">{{header}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="text-m">
        <p>{{firstPara}}</p>
        <p>{{secondPara}}</p>
    </mat-card-content>
    <mat-card-actions class="text-sm">
        <button><a href={{cardLink}}>{{linkText}}</a></button>
    </mat-card-actions>
</mat-card>