.navy-service {
    background-color: #294364;
    margin-bottom: 1.25rem;
    color: white;
}

.white-home {
    background-color: white;
    margin-bottom: 1.25rem;
    color: #828282;
    min-width: 320px;
}

.white-service {
    background-color: white;
    margin-bottom: 1.25rem;
    color: #828282;
}

/* .white-home > .mat-card-header, .white-service > .mat-card-header {
    color: #ff6900;
} */

::ng-deep .mat-card-header-text {
    margin: 0px!important;
}

::ng-deep .mat-card-actions {
    margin: 0px !important;
}

.fade-in-menu {
    animation: fadeInFromTop 0.5s forwards;
}

@media (min-width: 768px) {
    /* .orange-home {
        width: 200px;
    } */

    .white-home {
        width: 200px;
    }
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}