.orange {
    background-color: #ff6900;
    margin-bottom: 1.25rem;
    color: white;
}

.white {
    background-color: white;
    margin-bottom: 1.25rem;
    color: #828282;
}

.white > .mat-card-header {
    color: #ff6900;
}

::ng-deep .mat-card-header-text {
    margin: 0px!important;
}

::ng-deep .mat-card-actions {
    margin: 0px !important;
}

.fade-in-menu {
    animation: fadeInFromTop 0.5s forwards;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}