.hero {
    text-align: center;
    color: white;
}

.centered-full-page {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-royal {
    color: #000112;
    font-size: 1.25rem;
}

.hero-button-orange {
    background-color: #EC8E3D;
    color: white;
    border: 1px solid white;
    padding: 0.75rem 0;
    margin: 0.75rem 0;
    font-size: medium;
    border-radius: 5px;
}

.hero-button-orange:focus {
    background-color: white;
    color: #EC8E3D;
    border: 1px solid #EC8E3D;
}

@media (min-width: 1024px) {

    .hero-button-orange {
            margin: 0.75rem 1rem;
            min-height: 45px;
            min-width: 200px;
        }
}