.hero {
    text-align: center;
    color: white;
}

.centered-full-page {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-royal {
    color: #000112;
    font-size: 1.25rem;
}

.hero-button-navy {
    background-color: rgb(41, 67, 100, 100%);
    color: white;
    font-weight: 500;
    padding: 0.75rem 0;
    margin: 0.75rem 0;
    font-size: medium;
    border-radius: 5px;
}

.hero-button-navy:hover {
    background-color: rgb(41, 67, 100, 80%);

}

@media (min-width: 1024px) {

    .hero-button-orange {
            margin: 0.75rem 1rem;
            min-height: 45px;
            min-width: 200px;
        }
}