<div class="hero {{heroStyle}}" id="hero">
    <img src={{imageSrc}} class="{{heroImageStyle}} z-10 h-full w-full" />
    <div class="{{heroTextStyle}} w-4/5 text-white text-xl leading-relaxed tracking-widest lora">
        <span class="text-white inter">{{topSpan}}</span>
        <h2 class="text-white font-black shadow text-4xl md:text-7xl mt-1 mb-4 lora pageHeader">{{header}}</h2>
        <span class="text-white font-bold inter">{{bottomSpan}}</span>
        <div *ngIf="heroNavButtons" class="flex flex-col mt-4 mx-auto md:items-center lg:flex-row lg:justify-around lg:w-96">
            <button class="hero-button-navy md:w-44 lg:w-40" ><a href="#services">SERVICES</a></button>
            <button class="hero-button-navy md:w-44 lg:W-40"><a href="#contact">CONTACT</a></button>
        </div>
    </div>
</div>