nav {
    /* background-color: rgba(148, 163, 184, 1.0); */
    z-index: 1000;
}

.initial-opacity {
    background-color: rgba(148, 163, 184, 0);
    /* animation-name: fadeOutOpacity; */
    /* animation-iteration-count: 1; */
    /* animation-timing-function: ease-out; */
    /* animation-duration: 0.2s; */
}

.scroll-opacity {
    background-color: rgba(148, 163, 184, 0.9);
    /* animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in; 
    animation-duration: 0.5s; */
}

@keyframes fadeInOpacity {
    0% {
        opacity: 30;
    }

    100% {
        opacity: 90;
    }
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 90;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 1024px) {
    .mobile-rsvp {
        display: none;
    }
}