<nav id="nav" class="fixed w-full flex flex-wrap items-cente">
    <div [ngClass]="[navStyle]" class="w-full flex flex-wrap items-center justify-between">
        <div class="w-full flex justify-between py-4 px-8 lg:w-auto lg:static lg:block lg:justify-start">
            <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
                routerLink="/">
                DOD
            </a>
            <button (click)="toggleNavMenu()" type="button"
                class="lg:hidden bg-black inline-flex items-center justify-center p-2 rounded-md text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800"
                aria-controls="mobile-menu" aria-expanded="false">
                <svg *ngIf="showNavMenu; else closeMenuBlock" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                <ng-template #closeMenuBlock>
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </ng-template>
            </button>
        </div>
        <div [ngClass]="{'hidden': !showNavMenu, 'flex': showNavMenu}" 
            class="lg:flex lg:flex-grow items-center w-full lg:w-auto">
            <ul [ngClass]="{'fade-out-menu-items': !showNavMenu, 'fade-in-menu-items': showNavMenu}" class="flex flex-col lg:flex-row list-none lg:ml-auto">
                <li class="nav-item py-4 lg:py-0">
                    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white"
                        routerLink="/services">
                        <i class="fab fa-facebook-square text-lg leading-lg text-white"></i><span
                            class="ml-2">Services</span>
                    </a>
                </li>
                <li class="nav-item py-4 lg:py-0">
                    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white"
                        routerLink="/about">
                        <i class="fab fa-twitter text-lg leading-lg text-white"></i><span class="ml-2">About</span>
                    </a>
                </li>
                <li class="nav-item py-4 lg:py-0">
                    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white"
                        routerLink="/contact">
                        <i class="fab fa-pinterest text-lg leading-lg text-white"></i><span class="ml-2">Contact</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>