nav {
    /* background-color: rgba(148, 163, 184, 1.0); */
    z-index: 1000;
}

.initial-opacity {
    background-color: rgba(148, 163, 184, 0);
}

.scroll-opacity {
    background-color: rgba(148, 163, 184, 0.9);
}

.options-background {
    background-color: rgba(148, 163, 184, 0.9);
}

.fade-in-menu {
    animation: fadeInFromTop 0.5s forwards;
}

.fade-out-menu {
    animation: fadeOutFromTop 0.5s forwards;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutFromTop {
    0% {
        opacity: 1;
        transform: translateY(0);
        
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

@media (min-width: 1024px) {
    .mobile-rsvp {
        display: none;
    }
}