.border {
    padding: 1.65rem;
    border: 10px solid #294364;
}

.placeholder-style {
    color: #69727d;
    border-bottom: 2px solid rgb(41, 67, 100, 80%);
}

.send-button {
    background-color: rgb(41, 67, 100, 100%);
    color: white;
}

.send-button:hover {
    background-color: rgb(41, 67, 100, 80%);
}