<div class="background">
    <div class="relative">
        <app-hero
            [topSpan]="heroTopSpan"
            [imageSrc]="heroImage"
            [header]="heroHeader"
            [bottomSpan]="heroBottomSpan"
            [heroStyle]="heroStyle"
            [heroTextStyle]="heroTextStyle"
            [heroImageStyle]="heroImageStyle"
            [heroNavButtons]=true
        >
        </app-hero>
    </div>
    <!-- Card Section -->
    <div id="about" >
        <div class="flex flex-col lg:flex-row w-10/12 m-auto my-8 justify-center lg:justify-between lg:items-center">
            <div class="text-white mt-8 lg:w-2/6 lg:pr-4">
                <h2 class="header-blue font-black text-4xl md:text-5xl">About Us</h2>
                <p class="w-4/5 py-6 text-base text-blue">
                Founded in 2023, New Line Maritime brings together a team of seasoned professionals, including former Merchant Navy
                officers, united by a shared passion for excellence in maritime services. Based in the vibrant city of Belfast—a
                historical maritime hub renowned for its legacy of shipbuilding and innovation—we are perfectly positioned to serve the
                dynamic needs of the modern maritime industry.
                Our primary operations span the UK and Ireland, but our expertise and services extend across global waters, delivering
                world-class solutions wherever they are needed.
                </p>
            </div>
            
            <!-- <div class="flex flex-col h-full md:flex-row lg:w-4/6 justify-between">
                <div class="md:w-3/6 md:pr-5">
                    <app-card 
                        *ngFor="let card of cardData.slice(0, 3)" 
                        [header]="card.header"
                        [headerClassStyle]="card.headerClassStyle?.join(' ')"
                        [firstPara]="card.firstPara"
                        [cardTextStyle]="card.cardTextStyle?.join(' ')"
                        [cardLink]="card.link" 
                        [linkText]="card.linkText"
                        [cardClass]="card.cardClass.join(' ')"
                    >
                    </app-card>
                </div>
                <div class="md:w-3/6 md:pl-5"> 
                    <app-card 
                        *ngFor="let card of cardData.slice(3)" 
                        [header]="card.header"
                        [headerClassStyle]="card.headerClassStyle?.join(' ')"
                        [firstPara]="card.firstPara"
                        [cardTextStyle]="card.cardTextStyle?.join(' ')"
                        [cardLink]="card.link" 
                        [linkText]="card.linkText"
                        [cardClass]="card.cardClass.join(' ')"
                        >
                    </app-card>
                </div>
            </div> -->
        </div>
        <!--What I Offer -->
        <div class="who-section-height flex justify-evenly items-center">
            <div class="container-div lg:ml-20 w-5/6 lg:w-6/12">
                <img src="../../../assets/images/zodiac.jpg" alt="Description of image" class="mb-4 top-left-image">
                <div class="wrapper bg-white  lg:w-full">
                    <div class="blue-border p-8">
                        <h2 class="header-blue text-4xl md:text-5xl p-6">Our Services</h2>
                        <p class="px-6 pb-8 md:pb-10 text-base text-blue">
                            At New Line Maritime, we are dedicated to delivering exceptional expertise in the field of marine surveying, services,
                            and consultation. Operating at the forefront of the maritime industry, we specialize in providing comprehensive
                            solutions tailored to the needs of shipowners, operators, insurers, and stakeholders across the globe.
                            Below is a list of our core services however please don’t hesitate to reach out if you have speciality needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Services -->
        <div id="services" class="flex flex-col mt-8 lg:mt-0 w-10/12 m-auto lg:items-center justify-center">
            <h2 class="header-blue font-black text-5xl py-6">Discover What I Offer</h2>
            <div class="grid grid-cols">
                <app-card class="masonry-item" *ngFor="let card of servicesCardData" 
                    [header]="card.header"
                    [headerClassStyle]="card.headerClassStyle?.join(' ')"
                    [firstPara]="card.firstPara" 
                    [cardTextStyle]="card.cardTextStyle?.join(' ')"
                    [cardLink]="card.link" 
                    [linkText]="card.linkText"
                    [cardClass]="card.cardClass.join(' ')" 
                    [cardImage]="card.cardImage"
                    [cardImageStyle]="card.cardImageStyle?.join(' ')">
                </app-card>
            </div>
        </div>

        <!-- Contact -->
        <div id="contact" >
            <div class="flex flex-col mx-auto w-10/12 md:px-10 md:flex-row md:mt-14 md:items-center xl:mx-48">
                <div class="pt-6 md:w-3/6 md:mx-4">
                    <h2 class="header-blue font-black text-4xl md:text-5xl py-6">GET IN TOUCH</h2>
                    <p class="text-base w-9/12">
                        Feel free to contact me if you have any questions.
                        Send a message using the form below or contact me directly by calling or sending an e-mail
                    </p>
                </div>
                <div class="flex flex-col mt-10 h-screen-25 md:w-3/6 md:flex-row md:justify-around md:items-center">
                    <div class="flex flex-col items-center pb-3 md:pb-0">
                        <a class="link" href="mailto: dod@email.com" target="_blank">
                            <mat-icon class="icon-size navy">email</mat-icon>
                        </a>
                        <div class="my-5 text-center text-blue font-black">
                            <a class="link" href="mailto: dod@email.com" target="_blank">
                                <p>Email</p>
                                <p>dod@email.com</p>
                            </a>
                        </div>
                    </div>
                    <div class="flex flex-col items-center pt-3 md:pt-0">
                        <a class="link" href="tel: 123456778" target="_blank">
                            <mat-icon class="icon-size navy">phone</mat-icon>
                        </a>
                        <div class="my-5 text-center text-blue font-black">
                            <a class="link" href="tel: 123456778" target="_blank"> 
                                <p>Phone</p>
                                <p>081 0482081</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <app-contact-form>
            </app-contact-form>
        </div>
    </div>
</div>