@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
    scroll-behavior: smooth;
}

.header-blue {
    color: #294364;
}

.text-blue {
    color: #294364;
    opacity: 90%;
}

@responsive {
    .h-screen-25 {
        height: 25vh;
    }

    .h-screen-50 {
        height: 50vh;
    }

    .h-screen-75 {
        height: 75vh;
    }

    .h-screen-150 {
        height: 150vh;
    }

    .h-screen-175 {
        height: 175vh;
    }
}

.pageHeader {
    font-weight: 900;
}